<h1>User info</h1>

<h5>name</h5>
<h5>introduction</h5>

<!--user情報のeditをいれる-->


<h1>New Book</h1>

<% if book.errors.any? %>
  <%= book.errors.count %>error prohibited this book from being saved:
  <% book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:book, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

  <% end %>