<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>User info</h2>

      <% if @user.errors.any? %>
        <%= @user.errors.count %>error prohibited this obj from being saved:
        <% @user.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

       <%= form_with model:@user, local:true do |f| %>
         <h6>Name</h6>
          <%= f.text_field :name, size: 60 %>

         <h6>Image</h6>
          <%= f.attachment_field :profile_image %>

         <h6>Introduction</h6>
          <%= f.text_area :introduction, size: "59x2" %>
         <br>
          <%= f.submit 'Update User', class: "btn btn-secondary" %>
       <% end %>
      </div>
    </div>
</div>