<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>Editing Book</h2>

      <% if @book.errors.any? %>
        <%= @book.errors.count %>error prohibited this book from being saved:
        <% @book.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

      <%= form_with model:@book, local: true do |f| %>
        <h6>Title</h6>
          <%= f.text_field :title, size: 60 %>
          <br>
         <h6>Opinion</h6>
           <%= f.text_area :body, size: "59x2" %>
          <br>
          <%= f.submit 'Update Book', class: "btn btn-sm btn-success" %>
       <% end %>

       <%= link_to 'Show', book_path %>
       <span>|</span>
　     <%= link_to 'Back', books_path %>
　   </div>
　 </div>
</div>