<div class="flash"><%= flash[:success] %></div>

<%= render 'users/users', book: @book %><!--users info部分テンプレート呼び出し-->


<P>Title: <%= @book.title %></P>
<p>Opinion: <%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Destroy', @book, method: :delete, "data-confirm" => "本当に消しますか？" %>
<%= link_to 'Back', books_path %>


